div.answer{
  background-color: var(--pst-color-on-background);
  border-radius: 0.25rem;
  padding: 0.6rem 0.8rem !important;
  font-style: italic;
}

.bd-main .bd-content .bd-article-container .bd-article {
    padding-bottom: 4rem;
}
